@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Fredericka+the+Great&display=swap');
/*font-family: 'Abril Fatface', cursive;*/
/*'Fredericka the Great', cursive;*/
page {
     // 
}
